/* Style Umum */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 50px;
    font-family: cursive;
    color: #dff6ff;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;  /* Mengatur jarak bawah h3 */
}

h2 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: #dff6ff;
    text-align: center;
    margin-top: 0;     /* Mengatur jarak atas h4 */
    margin-bottom: 0;  /* Mengatur jarak bawah h4 */
}

h5 {
    font-size: 30px;
    font-family: 'Poppins', sans-serif bold;
    color: #dff6ff;
    text-align: center;
    margin-top: 0;     /* Mengatur jarak atas h4 */
    margin-bottom: 0;  /* Mengatur jarak bawah h4 */
}

p {
    text-align: center;
    font-size: 18px;
}

#Ciii {
    min-height: 2mm;
    background-color: #f3f3f3;
    margin: 0; /* Menghapus margin */
    padding: 0; /* Menghapus padding */
    line-height: 1; /* Memastikan tinggi baris tidak menambah ukuran */
}

#Ceee {
    background-image: url('assets/robot1.png');
    object-fit: cover;    /* Memastikan gambar mengisi ruang sesuai tanpa distorsi */
    min-height: 20vh; /* Mengatur tinggi minimal agar area lebih luas */
    background-size: cover;
    background-position: top; /* Menempatkan latar belakang di tengah */
    color: white;
    padding: 120px;
    text-align: center;
    transition: background-image 0.3s ease-in-out;
    position: relative; /* Dibutuhkan agar z-index bekerja */
    overflow: hidden; /* Menyembunyikan bagian yang keluar */
}

.logo-container {
    position: absolute; /* Menempatkan logo di posisi tetap */
    top: 40px; /* Jarak dari atas */
    left: 20px; /* Jarak dari kiri */
    z-index: 10; /* Memastikan logo berada di atas konten lainnya */
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 300px; /* Menyesuaikan ukuran logo lebih besar */
    height: auto; /* Menjaga proporsi logo agar tetap simetris */
    object-fit: contain; /* Memastikan logo tidak terdistorsi */
}

.address {
    margin-top: 10px; /* Memberi jarak antara logo dan alamat */
    font-size: 14px; /* Ukuran font untuk alamat */
    color: white; /* Menentukan warna teks */
    text-align: center; /* Menyelaraskan teks alamat di tengah */
    max-width: 90%; /* Membatasi lebar teks agar tidak terlalu panjang */
}

.slide-footer {
    min-height: 20vh; /* Menambah tinggi section agar lebih luas */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 120px;
    text-align: center;
    transition: background-image 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

#Cooo {
    min-height: 2mm;    
    background-color: #f3f3f3;
    margin: 0; /* Menghapus margin */
    padding: 0; /* Menghapus padding */
    line-height: 1; /* Memastikan tinggi baris tidak menambah ukuran */
}

#Beee {
    min-height: 100vh; /* Full layar */
    background: linear-gradient(to bottom, #A8DADC, #F1FAEE);
}

#Biii {
    min-height: 25vh; /* Full layar */
    background: #FFFFFF;
    border-top: 5px solid #DCEFFF; /* Biru sangat lembut sebagai aksen */
    border-bottom: 5px solid #DCEFFF;
}

#Buuu {
    min-height: 25vh; /* Full layar */
    background: linear-gradient(to top, #A8DADC, #F1FAEE);
}

/* Navbar */
.navbar {
    background: linear-gradient(135deg, #2980b9, #f39c12); /* Gradasi biru-oranye */;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin: 0 15px;
}

.nav-menu li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.nav-menu li a:hover {
    color: #dff6ff;
}

/* Style tambahan untuk bendera aktif */
.flag img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.flag img:hover {
    transform: scale(1.2);
}

/*.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Menjamin video memenuhi seluruh area */
    /*z-index: -2; /* Video berada di belakang konten
  } */ 
  
/* Overlay Transparan */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
    z-index: -1; /* Di atas video tetapi di bawah konten */
  }
  
/* Content Style */
.content {
    z-index: 1; /* Pastikan konten muncul di atas video */
    padding: 20px;
    background: rgba(255, 255, 255, 0.1); /* Transparansi untuk kontras teks */
    border-radius: 10px;
  }

/* Bagian untuk setiap slide */
.slide {
    min-height: 100vh; /* Membuat setiap section mengisi layar */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    text-align: center;
    transition: background-image 0.3s ease-in-out;
    position: relative; /* Dibutuhkan agar z-index bekerja */
    overflow: hidden; /* Menyembunyikan bagian video yang keluar */
}

/* Navbar Sticky */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Responsivitas */
@media (max-width: 768px) {
    .nav-menu {
        flex-direction: column;
        background-color: #2980b9;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: none; /* Tersembunyi secara default */
    }

    .nav-menu.active {
        display: flex;
    }

    .nav-menu li {
        margin: 10px 0;
    }

    .play-pause-btn {
        font-size: 16px;
        width: 35px;
        height: 35px;
    }

    .song-info {
        font-size: 12px;
    }
}

/* Audio Player */
.audio-player {
    position: fixed;
    bottom: 20px;
    left: 50px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.song-info {
    font-size: 14px;
    text-align: left;
    color: #2c3e50;
    font-weight: bold;
}

/* Styling untuk container slider */
.slider-container {
    position: relative;
    max-width: 100%;
    height: 600px; /* Ukuran gambar lebih panjang ke bawah */
    overflow: hidden;
    background-color: #f4f4f4;
    margin: 50px auto;
}

/* Styling untuk setiap slide */
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

/* Styling untuk setiap gambar slide */
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #DCEFFF; /* Aksen biru lembut */
    border-radius: 10px; /* Sedikit melengkung */
}

/* Tombol navigasi slider */
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
}

.slider-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Tombol kiri dan kanan */
.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Responsivitas slider */
@media (max-width: 768px) {
    .slider-container {
        height: 400px; /* Ukuran lebih kecil untuk perangkat mobile */
    }

    .slider-btn {
        font-size: 20px;
        padding: 8px 12px;
    }
}

/* Variabel CSS untuk kemudahan pemeliharaan */
:root {
    --spinner-size: 100px; /* Ukuran spinner */
    --font-size: 25px; /* Ukuran font teks */
    --letter-spacing: 3px; /* Jarak antar huruf */
    --background-color: rgba(0, 0, 0, 0.7); /* Warna latar belakang loading */
}

/* Loading Spinner */
.loading {
    display: flex; /* Menata spinner dan teks secara fleksibel */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-color); /* Menggunakan variabel */
    color: white;
    font-size: var(--font-size);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Gambar Spinner */
.spinner {
    width: var(--spinner-size); /* Ukuran gambar spinner */
    height: var(--spinner-size); /* Ukuran gambar spinner */
    background-image: url('assets/ball.png'); /* Ganti dengan path gambar */
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Membuat bentuk lingkaran */
    animation: rotateImage 1s linear infinite; /* Animasi gambar berputar */
}

/* Animasi Gambar Berputar */
@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Teks Loading */
.spinner-text {
    color: white;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size); /* Menggunakan variabel untuk font size */
    font-weight: bold;
    letter-spacing: var(--letter-spacing); /* Menggunakan variabel untuk letter-spacing */
    text-transform: uppercase;
    animation: fadeInText 0.5s ease-in-out;
    opacity: 1;
    text-align: center; /* Menambahkan perataan teks ke tengah */
}

/* Animasi teks fade-in */
@keyframes fadeInText {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsivitas untuk layar kecil */
@media screen and (max-width: 768px) {
    .loading {
        font-size: calc(1vw + 1rem); /* Mengatur ukuran font agar responsif */
    }

    .spinner {
        width: 80px; /* Ukuran spinner lebih kecil untuk layar kecil */
        height: 80px; /* Ukuran spinner lebih kecil untuk layar kecil */
    }
}

/* Carousel Container */
.carousel-container {
    position: relative;
    width: 80%; /* Atur lebar carousel */
    margin: auto;
    overflow: hidden; /* Menyembunyikan elemen yang tidak terlihat */
}

.carousel-wrapper {
    display: flex;
    overflow: hidden; /* Menyembunyikan konten di luar area viewport */
    transition: transform 0.5s ease;
    width: 100%; /* Atur lebar wrapper untuk responsif */
    /* transition: transform 0.5s ease; Smooth transition untuk perpindahan slide */
}

.carousel-item {
    flex: 0 0 calc(100% / 3); /* Tiga kotak berita dalam satu tampilan */
    box-sizing: border-box;
    margin: 10px;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: left 0.3s ease; /* Menambahkan animasi transisi untuk pergerakan panah */
}

.carousel-nav.left {
    left: 0px;
}

.carousel-nav.right {
    right: 0px;
}

.carousel-item img {
    margin-top: 50px;
    width: 300px;
    height: 150px; /* Pastikan proporsi gambar terjaga */
    object-fit: cover; /* Memastikan gambar memenuhi kotak */
}

.carousel-item p {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
}

.read-more-btn {
    margin-top: 10px;
}

/* Indikator */
.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Tombol Previous dan Next */
.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover, .carousel-next:hover {
    background-color: #f39c12/*rgba(0, 0, 0, 0.8)*/;
}

.indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.indicator.active {
    background-color: #2980b9;
}

/* Container utama */
.line-with-circle {
    display: flex;
    align-items: center; /* Pusatkan vertikal */
    justify-content: center; /* Pusatkan horizontal */
    margin-bottom: 20px; /* Tambahkan jarak dengan elemen di bawahnya */
  }
  
  /* Garis kiri dan kanan */
  .line {
    height: 2px; /* Ketebalan garis */
    background-color: #000; /* Warna garis hitam */
    flex-grow: 1; /* Buat garis mengisi ruang secara proporsional */
  }
  
  /* Margin pada garis untuk memberi ruang di sekitar lingkaran */
  .left-line {
    margin-right: 10px;
  }
  .right-line {
    margin-left: 10px;
  }
  
  /* Lingkaran di tengah */
  .circle {
    width: 20px; /* Lebar lingkaran */
    height: 20px; /* Tinggi lingkaran */
    border: 2px solid #000; /* Warna dan ketebalan garis lingkaran */
    border-radius: 50%; /* Membuat elemen menjadi lingkaran */
    display: flex;
    align-items: center; /* Pusatkan isi lingkaran secara vertikal */
    justify-content: center; /* Pusatkan isi lingkaran secara horizontal */
  }
  
  /* Titik di dalam lingkaran */
  .dot {
    width: 6px; /* Lebar titik */
    height: 6px; /* Tinggi titik */
    background-color: #000; /* Warna titik hitam */
    border-radius: 50%; /* Membuat elemen menjadi lingkaran */
  }

/* Style untuk bagian Partners */
.partners {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .partners h2 {
    color: orange;
    text-transform: uppercase;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  /* Marquee Container */
  .logo-marquee {
    position: relative;
    overflow: hidden; /* Menyembunyikan area di luar */
    white-space: nowrap; /* Mencegah logo turun ke baris baru */
  }
  
  /* Barisan Logo */
  .logos {
    display: flex;
    animation: marquee 10s linear infinite; /* Animasi infinite */
    width: max-content; /* Panjang otomatis sesuai isi */
  }
  
  .logos img {
    border: none;
    height: 80px; /* Tinggi logo */
    margin: 0 20px; /* Spasi antar logo */
    object-fit: contain; /* Memastikan logo tetap proporsional */
  }
  
  /* Animasi */
  @keyframes marquee {
    0% {
      transform: translateX(0); /* Posisi awal */
    }
    100% {
      transform: translateX(-50%); /* Geser ke kiri */
    }
  }

/* Footer Styling */
.footer {
    background: linear-gradient(135deg, #2980b9, #f39c12); /* Gradasi biru-oranye */;
    font-family: 'Poppins', sans-serif;
    color: #fff; /* Warna teks putih */
    text-align: center;
    padding: 1px 20px;
    font-size: 8px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.footer .highlight {
    color: #FFCE33; /* Warna kuning */
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}


